.body {
    margin:0px;
}

.video-container {
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 80px;
    margin-left: 90px;
    width: 68%;
    height: auto;
}

video {
    width: 100%;
}

.video-title-container {
    margin-left: 90px;
    font-size: 22px;
    margin-bottom: 0px;
    line-height: 0px;
    font-family: 'Roboto', sans-serif;
}

.video-details-container {
    margin-left: 90px;
    font-size: 17px;
    line-height: 2rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #606060;
    line-height: 0px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
    width: 68%;
    font-family: 'Roboto', sans-serif;
}

.bullet-point{
    color: #606060;
    margin: 0 4px;
}

.video-user-info-container {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    width: 68%;
    margin-left: 90px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.user-icon {
    border: 0px solid transparent;
    border-radius: 50%;
    background-color: #c2175b;
    min-width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon-text {
    color: white;
    font-size: 25px;
}
.user-info {
    display: flex;
    flex-direction: column;
    line-height: 0px;
    width: 46%;
    margin-right: 39%;
}

.subscriber-count {
    margin-top: 6px;
    color: #606060;
}

.username {
    margin-top: 20px;
}

.subscribe-button{
    display: flex;
    border: 0px solid transparent;
    border-radius: 3%;
    width: 110px;
    height: 37px;
    background-color: red;
    justify-content: center;
    align-items: center;
}

.subscribe-text {
    color: white;
    font-size: 14px;
}

.comments-container {
    width: 67%;
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    margin-top: 15px;
}

.single-comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.comment-info {
    margin-left: 15px;
    min-width: 46%;
    width: 100%;
}

#comment.user-icon {
    width: 40px;
    height: 40px;
    border: 0px solid transparent;
    border-radius: 50%;
    background-color: #c2175b;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 90px;
    margin-top: 20px;
}

.add-comment-wrapper {
    margin-bottom: 20px;
}

.user-comment-text {
    margin: 0;
    color: white;
    font-size: 15px;
}

.user-name {
    font-size: 13px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.date {
    font-size: 12px;
    margin-left: 4px;
    color: #606060;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.comment {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;

}

.comment-input {
    margin-left: 20px;
    width: 67.5%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(144,144,144);
}

.comment-input.active {
    border-bottom: 2px solid rgb(3,3,3);
    transition: border-bottom .15s ease-in;
}

#user-icon-videos {
    width: 40px;
    height: 40px;
    min-width: 40px;
}

.add-comment-button {
    margin-left: 10px;
    display: flex;
    border: 0px solid transparent;
    border-radius: 3%;
    width: 105px;
    min-width: 105px;
    height: 37px;
    background-color: #065fd4;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    color: white;
}

.add-comment-button:hover {
    cursor: pointer;
}

.add-comment-button.inactive {
    background-color: #065fd4;
}

.user-icon-videos-text {
    color: white;
}

#textarea-add-comment-input {
    resize: none;
    padding: 0px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 20px;
}

.cancel-comment-button {
    margin-left: 60.5%;
    display: flex;
    border: 0px solid transparent;
    border-radius: 3%;
    width: 105px;
    min-width: 105px;
    height: 37px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    color: #606060;
}

.cancel-comment-button:hover {
    cursor: pointer;
}

.add-comment-actions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom-margin-div {
    margin-bottom: 200px;
}

.comments-counter {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #030303;
    margin-left: 5%;
    margin-top: 20px;
}

.edit-button {
    margin-left: 10px;
    display: flex;
    border: 0px solid transparent;
    border-radius: 3%;
    width: 105px;
    min-width: 105px;
    height: 37px;
    background-color: #065fd4;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    color: white;
}

.edit-button:hover {
    cursor: pointer;
}

.delete-button {
    margin-left: 10px;
    display: flex;
    border: 0px solid transparent;
    border-radius: 3%;
    width: 105px;
    min-width: 105px;
    height: 37px;
    background-color: #065fd4;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    color: white;
}

.delete-button:hover {
    cursor: pointer;
}

.edit-comment-textarea {
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #030303;
    width: 96%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(144,144,144);
    padding: 0px;
}


/* #textarea-add-comment-input {
    resize: none;
    padding: 0px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 20px;
}

.comment-input {
    margin-left: 20px;
    width: 67.5%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(144,144,144);
}    */

.comments-container-wrapper {
    display: flex;
    flex-direction: column;
}

.view-more-text {
    margin-left: 55px;
    width: 100px;
    color: #606060;
    visibility: hidden;
    height: 0;
}

.view-more-text:hover {
    text-decoration: underline;
}

.view-more-text.active {
    visibility: visible;
    height: auto;
}
