.single-video-container {
    width: 350px;
    height: 290px;
    max-height: 56.25%;
    position: relative;
}

.video {
    /* position: relative; */
    width: 100%;
    /* padding-bottom: 56.25%; */
    height: 200px;
}

/* .a-link {
    width: 100%;
    min-height: 56.25%;
    display: inline-block;
} */

/* @media screen and (max-width: 1200px) {
    .single-video-container {
      background-color: olive;
    }
  } */

.videos-container {
    display: flex;
    margin-left: 5%;
    width: 90%;
    padding: 0;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center;
    row-gap: 20px;
    column-gap: 18px;
    align-items: center;
    margin-top: 56px;
    padding-top: 24px;
    padding-bottom: 20px;
    background: #f9f9f9;
}

.video-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding: 0;
    width: 100%;
    height: auto;
}

.title {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    width: 85%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.views-created-at-date-container {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    font-family: 'Roboto', sans-serif;
    color: #606060;
    font-size: 14px;
}

.video-details-text {
    margin-left: 9px;
    width: 80%;
    position: relative;
}

.video-username {
    margin-top: 8px;
    color: #606060;
    overflow: hidden;
    text-overflow: ellipsis;
}

#user-icon-homepage {
    margin-top: 10px;
}
