
.edit-video-submit-button {
    margin-top: 25px;
    display: flex;
    border: 0px solid transparent;
    border-radius: 3%;
    width: 150px;
    min-width: 150px;
    height: 37px;
    background-color: #065fd4;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', 'sans-serif';
    color: white;
}
