.upload-button-modal {
    display: flex;
    border: 0px solid transparent;
    border-radius: 3%;
    width: 150px;
    min-width: 150px;
    height: 37px;
    background-color: #065fd4;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', 'sans-serif';
    color: white;
}

.upload-button-modal:hover{
    cursor: pointer;
}

.top-bar {
    font-family: 'Roboto', 'sans-serif';
    margin-left: 5%;
    margin-top: 56px;
    display: flex;
    flex-direction: row;
    height: 150px;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    width: 90%;
}

.upload-button-modal-container {
    margin-left: 71%;
}

.channel-content-text {
    font-size: 25px;
    font-weight: 500;
    margin-left: 30px;
}

.manage-videos-container {
    margin-left: 5%;
    width: 90%;
    padding-bottom: 60px;
}

.single-manage-video {
    width: 105px;
    min-width: 105px;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 25px;
    box-sizing: border-box;
}

.video-wrapper {
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.video-wrapper:hover {
    width: 100%;
    background: #e6e6e6;
}

.channel-content-header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    font-family: 'Roboto', 'sans-serif';
    color: #606060;
    font-weight: 450;
    font-size: 14px;
    width: 90%;
}

.video-text-header {
    margin-left: 1.9%;
    /* width: calc(100% - 105px); */
    display: inline-block;

}

.date-uploaded-header {
    margin-left: 35.85%;
}

.views-header {
    margin-left: 15%;
}

.comment-total-header {
    margin-left: 15%;
}

.single-video-date {
    margin-left:  6.8%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 40px;
    width: 120px;
    font-family: 'Roboto', 'sans-serif';
}

.single-video-title {
    width: 22%;
    min-width: 22%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Roboto', 'sans-serif';
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 40px;
    margin-left: 20px;
}

.single-video-views {
    margin-left: 8.5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 40px;
    min-width: 100px;
    font-family: 'Roboto', 'sans-serif';
}

.single-video-comments {
    margin-left: 9.7%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 40px;
    min-width: 100px;
    font-family: 'Roboto', 'sans-serif';
}

.modal {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10%;
}

.edit-button-modal-container {
    margin-left: 10%;
}

.edit-button-modal {
    display: flex;
    border: 0px solid transparent;
    border-radius: 3%;
    width: 100px;
    min-width: 100px;
    height: 37px;
    background-color: #065fd4;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', 'sans-serif';
    color: white;
}

.manage-video-delete-button {
    margin-left: 2%;
    margin-right: 1%;
    display: flex;
    border: 0px solid transparent;
    border-radius: 3%;
    width: 100px;
    min-width: 100px;
    height: 37px;
    background-color: #065fd4;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', 'sans-serif';
    color: white;
}
