#image-yt-logo {
    width: 6rem;
    padding: 18px 14px 18px 16px;
}

#navbar-container {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    margin: 0;
    padding: 0 16px;
    z-index: 5;
    background-color: white;
}

.user-menu-icon {
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #c2175b;
    border: 0px transparent;
    border-radius: 50%;
}

#user-menu-button {
    all: unset;
    position: relative;
    right: 50px;
    padding: 1px 6px;
}

.navbar-container-start {
    display: flex;
}

.navbar-menu-button {
    all: unset;
    margin-top: 2px;
}

.search-container {
    border: 1px solid #ccc;
    background-color: hsl(0, 0%, 100%);
    width: 40%;
    height: 40px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.search-bar {
    font-family: 'Roboto','Noto',sans-serif;
    color: hsl(0, 0%, 6.7%);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    background: transparent;
    margin-left: 4px;
    box-shadow: inset 0 1px 2px #eee;
    outline: none;
    width: 87%;
}

.user-menu-text {
    text-align: center;
    margin: auto;
    color: #fffffd;
}

.searchbar-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.searchbar-icon {

}

a {
    display: flex;
    justify-content: center;
}

.user-menu-popup {
    position: absolute;
    top: 44px;
    right: 63px;
    width: 300px;
    height: 500px;
    border: 1px solid black;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;;
}

.user-menu-option {
    margin-left: 15px;
    all: unset;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 26px;
    font-family: 'Roboto','Noto',sans-serif;
    font-size: 14px;
}

.user-menu-option:hover {
    background-color: lightgrey;
}

a:link{

    text-decoration: none;
}

#logout-button{
    display: flex;
    justify-content: center;
    line-height: 26px;
    box-sizing: border-box;
    color: black;
}

#logout-button:hover{
    background-color: lightgrey;
}

#channel-button {
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.username-popup-text {
    display: flex;
    align-items: center;
    margin-left: 17px;
    width: 100%;
    height: 60px;
    font-family: 'Roboto','Noto',sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.user-icon-popup{
    display: flex;
    align-items: center;
    margin-left: 15px;
    min-width: 40px;
    height: 40px;
    background-color: #c2175b;
    border: 0px transparent;
    border-radius: 50%;
}

.user-icon-popup-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    text-align: center;
}

.user-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
}
